.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  flex: 1;
  padding: 20px;
}


body {
  background-image: url('/src/Surrealism.jpg');
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* Háttérkép kitölti a teljes képernyőt */
}

/* Kis eszközök (okostelefonok) */
@media (max-width: 320px) {
  body {
    background-position: center; /* Ha szükséges, állítsd át a háttérkép pozícióját */
  }
}

/* Nagy felbontású kijelzők, mint a 4K monitorok */
@media (min-width: 2560px) {
  body {
    background-position: center; /* Biztosítja, hogy a kép középpontja legyen látható a nagy felbontású kijelzőkön */
  }
}

