/* AvatarSelector title */
.avatar-selector-container h1 {
  margin-bottom: 20px;
  color: #333; /* Dark text color */
  text-align: center; /* Center align */
  font-size: 24px; /* Larger font size */

}

/* Avatar selector container */
.avatar-selector-container {
  position: relative;
  margin: 50px;
  top: 5%; /* Csökkentettük a felső távolságot */
  left: 50%;
  background-color: #fff; /* White background */
  padding: 10px; /* Increased padding */
  z-index: 100;
  box-shadow: 0 4px 8px rgba(33, 9, 9, 0.3); /* Soft shadow */
  border-radius: 12px; /* Rounded corners */
  overflow-x: auto; /* Horizontal scroll */
  white-space: nowrap; /* Az elemek egymás mellett vannak */
}



/* Buttons inside the container */
.avatar-selector-container button {
  cursor: pointer;
  background-color: #194b277e; /* Green background */
  color: #fff; /* White text */
  border: none;
  padding: 10px 20px; /* Increased padding */
  margin-bottom: 20px;
  border-radius: 6px; /* Rounded corners */
  font-size: 18px; /* Increased font size */
}

/* Title inside the container */
.avatar-selector-container h3 {
  margin-bottom: 15px;
  color: #333; /* Dark text */
}

/* Avatars container */
.avatars-container {
  display: flex;
  overflow-x:hidden; /* Horizontal scroll */
  padding-bottom: 10px;
}

/* Individual avatar item */
.avatar-item {
  margin-right: 10px;
  flex-shrink: 0;
}

/* Avatar image */
.avatar-item img {
  width: 100px;
  height: 100px; /* Equal width and height */
  border-radius: 50%; /* Rounded shape */
  border: 2px solid #ffffff; /* Green border */
  transition: border-color 0.3s ease; /* Smooth border color transition */
}

/* Hover effect for avatar items */
.avatar-item:hover img {
  border-color: #333; /* Dark border on hover */
}


@media (min-width: 2560px) {
  /* Nagy felbontású kijelzők (4K) */
  .avatar-selector-container {
    top: 5%;
    left: 140%;
    transform: translateX(-50%);
    width: 85%; /* Alkalmazkodik a széles képernyőhöz */
    size: 50%;
  }

  .avatar-item img {
    width: 120px; /* Nagyobb avatar képek */
    height: 120px;
  }
}

@media (max-width: 1440px) {
  /* Laptopok */
  .avatar-selector-container {
    top: 15%;
    left: 100%;
    transform: translateX(-50%);
    width: 84%; /* Illeszkedés a kisebb képernyőhöz */
  }

  .avatar-item img {
    width: 90px; /* Kis méretűbb avatarok */
    height: 90px;
  }
}

@media (max-width: 1024px) {
  /* 1024px-es felbontás */
  .avatar-selector-container {
    top: 10%;
    left: 80%;
    transform: translateX(-50%);
    width: 90%; /* Még szélesebb a nagyobb táblagépeken */
  }

  .avatars-container {
    display: flex;
    overflow-x: auto; /* Horizontal scroll */
    padding-bottom: 10px;
    white-space: pre; /* Prevent wrapping */
  }

  .avatar-item img {
    width: 120px; /* Kisebb avatarok */
    height: 120px;
  }
}


@media (max-width: 768px) {
  /* 768px-es felbontás */
  .avatar-selector-container {
    top: 10%;
    left: 73%;
    transform: translateX(-50%);
    width: 85%; /* Még szélesebb a tablet eszközökön */
  }

  .avatars-container {
    display: flex;
    overflow-x: auto; /* Horizontal scroll */
    padding-bottom: 10px;
    white-space: pre; /* Prevent wrapping */
  }

  .avatar-item img {
    width: 100px; /* Kisebb avatarok */
    height: 100px;
  }
}


@media (max-width: 426px)  {
  /* Mobil eszközök */
  .avatar-selector-container {
    top: 10%;
    left: 61%;
    transform: translateX(-50%);
    width: 63%; /* Még szélesebb a mobilokon */
  }
  
  .avatars-container {
    display: flex;
    overflow-x: auto; /* Horizontal scroll */
    padding-bottom: 10px;
    white-space: pre; /* Prevent wrapping */
  }

  .avatar-item img {
    width: 80px; /* Még kisebb avatarok */
    height: 80px;
  }
}

@media (max-width: 376px) {
  /* 375px-es felbontás */
  .avatar-selector-container {
    top: 10%;
    left: 58.5%;
    transform: translateX(-50%);
    width: 56%; /* Még szélesebb a mobilokon */
  }

  .avatars-container {
    display: flex;
    overflow-x: auto; /* Horizontal scroll */
    padding-bottom: 10px;
    white-space: pre; /* Prevent wrapping */
  }

  .avatar-item img {
    width: 80px; /* Még kisebb avatarok */
    height: 80px;
  }
}


@media (max-width: 320.1px) {
  /* Nagyon kis telefonok */
  .avatar-selector-container {
    top: 5%; /* Kisebb felső margó a még több helyért */
    width: 54%; /* Még szélesebb, hogy jobban kihasználjuk a rendelkezésre álló helyet */
    left: 57%;
    
  }
  .avatars-container {
    display: flex;
    overflow-x: auto; /* Horizontal scroll */
    padding-bottom: 10px;
    white-space: pre; /* Prevent wrapping */
  }

  .avatar-item img {
    width: 60px; /* Kisebb avatarok a kis képernyőkön */
    height: 60px; /* Megőrizzük az arányokat */
  }
}
