* {
    box-sizing: border-box;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    max-width: 1005px; /* A maximális szélesség meghatározása */
    margin: auto; /* Automatikus középre igazítás */
  }
  
  .gallery__strip {
    min-height: 100vh;
  }
  
  .gallery__strip__wrapper {
    flex: 0 0 100%;
    justify-content: flex-end;
    border-right: 2px solid #333;
    position: relative;
  }
  
  @media (min-width: 2500px) {
    .gallery__strip__wrapper {
      flex: 0 0 20%; /* Nagy képernyőjű eszközökön öt elem egy sorban */
    }
  }
  
  @media (min-width: 250px) {
    .gallery {
      height: 90vh;
    }
  
    .gallery__strip {
      &:hover {
        animation-play-state: paused;
      }
    
      &.one {
        animation: 5s move-up-1 linear infinite;
      }
    
      &.two {
        animation: 10s move-down-1 linear infinite;
      }
    
      &.three {
        animation: 5s move-up-1 linear infinite;
      }
    
      &.four {
        animation: 10s move-down-1 linear infinite;
      }
    
      &.five {
        animation: 5s move-up-1 linear infinite;
      }

      &.six {
        animation: 10s move-down-1 linear infinite;
      }

      &.seven {
        animation: 5s move-up-1 linear infinite;
      }

      &.eight {
        animation: 10s move-down-1 linear infinite;
      }

      &.nine {
        animation: 5s move-up-1 linear infinite;
      }

      &.ten {
        animation: 10s move-down-1 linear infinite;
      }

      &.eleven {
        animation: 5s move-up-1 linear infinite;
      }

      &.twelve {
        animation: 10s move-down-1 linear infinite;
      } 

    }
    
  
    .gallery__strip__wrapper {
      flex: 0 0 5%;
    }
  }
  
  .photo {
    position: relative;
    text-align: right;
    padding-bottom: 3rem;
    
  }
  
  .photo__image img {
    width: 50%;
    transform: translateX(50%);
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
    
  }

  .photo__image {
   size: 80vh;
  } 
  
  .photo__name {
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 2px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    margin-top: -25px;
    transition: 0.4s ease-in-out 0.4s;
    position: relative;
    width: 100%;
  }
  
  .photo:hover .photo__image img {
    transform: translateX(5%);
  }
  
  .photo:hover .photo__name {
    color: #fff;
  }
  
  @keyframes move-up-1 {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-100%); /* A tartalom egyszerűbb felfelé mozgatása */
    }
  }
  
  @keyframes move-down-1 {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%); /* A tartalom egyszerűbb lefelé mozgatása */
    }
  }
  
  
  
  
  