.book-history-container {
  max-width: 360px;
  margin: 40px auto;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #afafaf;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 70%;
  margin-top: -12%;
  display: flex;
  flex-direction: column;
}

.select-all-tab {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.history-items-container {
  max-height: 150px;
  overflow-y: auto;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.history-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.history-item input[type="checkbox"] {
  margin-right: 5px;
}

.history-info {
  font-size: 15px;
}

#bookhistoryname {
  margin-right: 10px;
}
/* 2560px felbontás */
@media screen and (min-width: 2560px) {
  .book-history-container {
    max-width: 20%; /* Maximális szélesség beállítása */
    margin: 20px auto; /* Középre igazítás */
    padding: 40px; /* Kisebb padding */
    margin-right:150px;
    margin-top: -10%;
  }
}

/* 1440px felbontás */
@media screen and (max-width: 1440px) {
  .book-history-container {
    max-width: 50%; /* Maximális szélesség beállítása */
    margin: 20px auto; /* Középre igazítás */
    padding: 10px; /* Kisebb padding */
  }
}

/* 1024px felbontás */
@media screen and (max-width: 1024px) {
  .book-history-container {
    max-width: 45%; /* Maximális szélesség beállítása */
    margin: 20px auto; /* Középre igazítás */
    padding: 10px; /* Kisebb padding */
    margin-right:450px;
  }
}

/* 768px felbontás */
@media screen and (max-width: 768px) {
  .book-history-container {
    max-width: 80%; /* Maximális szélesség beállítása */
    margin: 20px auto; /* Középre igazítás */
    padding: 10px; /* Kisebb padding */
    margin-right: 28px;
  }
}



/* 375px felbontás */
@media screen and (max-width: 375px) {
  .book-history-container {
    max-width: 95%; /* Maximális szélesség beállítása */
    margin: 20px auto; /* Középre igazítás */
    padding: 10px; /* Kisebb padding */
  }

  .select-all-tab {
    margin-bottom: 10px; /* Kisebb margó */
  }

  .history-info {
    font-size: 14px; /* Kisebb betűméret */
  }
}




/* Telefonok */
@media screen and (max-width: 320px) {
  .book-history-container {
    margin: 20px auto; /* Kisebb margó a kisebb készülékekhez */
    padding: 10px; /* Kisebb padding a kisebb készülékekhez */
    max-width: 90%; /* Maximális szélesség beállítása a kisebb készülékekhez */
    margin-right: 12px; /* Margin jobbról 0-ra állítása */
    margin-top: 0; /* Margin felülről 0-ra állítása */
  }

  .select-all-tab {
    margin-bottom: 10px; /* Kisebb margó a kisebb készülékekhez */
  }

  .history-info {
    font-size: 14px; /* Kisebb betűméret a kisebb készülékekhez */
  }
}
