.panel {
  max-width: 100%; /* Szélesség csökkentése */
  margin: 10px auto; /* Felső és alsó margó növelése */
  border: 2px solid #007bff; /* Sötétkék keret */
  background-color: #f9f9f9; /* Világosabb háttérszín */
  border-radius: 8px; /* Lekerekített sarkok */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Doboz árnyék hozzáadása */
  position: relative;
}

.prepare-message {
  margin-left: 10px;
  position: absolute;
}

.close-panel {
  position: absolute;
  right: 10px; /* Jobb oldali távolság */
  bottom: 10px; /* Alsó távolság */
  cursor: pointer; /* Mutató ikon változik, ha fölé viszed az egeret */
}

.message-window,
.email-list-window {
  margin-bottom: 10px;
}

.message-window input[type="text"],
.email-list-window input[type="text"],
.message-window textarea {
  width: calc(100% - 20px); /* Számított szélesség a padding figyelembevételével */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px; /* Lekerekített sarkok az inputoknak és a textarea-nak */
}

.message-window button,
.email-list-window button {
  padding: 10px 15px;
  background-color: #007bff; /* Sötétkék háttér */
  color: #fff; /* Fehér szövegszín */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; /* Átmenet hozzáadása */
}

.message-window button:hover,
.email-list-window button:hover {
  background-color: #0056b3; /* Sötétebb kék színre változik */
}

.email-list-window {
  max-height: 200px; /* Megőrizzük */
  overflow-y: auto; /* Megőrizzük */
}

.email-list-window ul {
  list-style-type: none; /* Megőrizzük */
  padding: 0; /* Megőrizzük */
  margin: 0; /* Nullázzuk a felső margót */
}

.email-list-window li {
  background-color: #e7f1ff; /* Világoskék háttér */
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 4px; /* Lekerekített sarkok */
  display: flex; /* Flexbox használata az elrendezéshez */
  justify-content: space-between; /* Távolítsuk el az elemeket egymástól */
  align-items: center; /* Középre igazítás függőlegesen */
}

.remove-email {
  cursor: pointer;
  background-color: #ff4d4d; /* Piros háttér */
  color: white; /* Fehér szövegszín */
  border: none;
  border-radius: 50%; /* Kör alakúra */
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Médialekérdezések */

@media (min-width: 2560px) {
  .panel {
    max-width: 100%;
    margin: 10px auto;
    left: 250px;
  }

  .prepare-message {
    margin-left: 5px;
  }

  .close-panel {
    right: 5px;
    bottom: 5px;
  }

  .message-window input[type="text"],
  .email-list-window input[type="text"],
  .message-window textarea {
    width: calc(100% - 10px);
    padding: 5px;
  }

  .email-list-window {
    max-height: 120px;
  }

  .email-list-window li,
  .remove-email {
    padding: 5px;
  }

  .remove-email {
    width: 15px;
    height: 15px;
  }

  .message-window button,
  .email-list-window button {
    padding: 5px 10px;
  }
}


@media (max-width: 1440px) {
  .panel {
    width: 50%; /* Teljes szélesség használata */
    margin: 20px; /* Csökkentett margó */
    left: 200px; /* Visszaállítjuk a bal oldali pozíciít */
  }

  .prepare-message {
    margin-left: 5px; /* Tovább csökkentett bal margó */
  }

  .close-panel {
    right: 5px; /* Csökkentett jobb margó */
    bottom: 5px; /* Csökkentett alsó margó */
  }

  .message-window input[type="text"],
  .email-list-window input[type="text"],
  .message-window textarea {
    width: calc(100% - 10px); /* Számított szélesség a csökkentett padding figyelembevételével */
    padding: 5px;
  }

  .email-list-window {
    max-height: 120px;
  }

  .email-list-window li,
  .remove-email {
    padding: 5px;
  }

  .remove-email {
    width: 15px;
    height: 15px;
  }

  .message-window button,
  .email-list-window button {
    padding: 5px 10px;
  }
}



@media (max-width: 1024px) {
  .panel {
    width: 40%; /* Teljes szélesség használata */
    margin: 20px; /* Csökkentett margó */
    left: 0; /* Visszaállítjuk a bal oldali pozíciít */
  }

  .prepare-message {
    margin-left: 5px; /* Tovább csökkentett bal margó */
  }

  .close-panel {
    right: 5px; /* Csökkentett jobb margó */
    bottom: 5px; /* Csökkentett alsó margó */
  }

  .message-window input[type="text"],
  .email-list-window input[type="text"],
  .message-window textarea {
    width: calc(100% - 10px); /* Számított szélesség a csökkentett padding figyelembevételével */
    padding: 5px;
  }

  .email-list-window {
    max-height: 120px;
  }

  .email-list-window li,
  .remove-email {
    padding: 5px;
  }

  .remove-email {
    width: 15px;
    height: 15px;
  }

  .message-window button,
  .email-list-window button {
    padding: 5px 10px;
  }
}



@media (max-width: 768px) {
  .panel {
    width: 50%; /* Teljes szélesség használata */
    margin: 20px; /* Csökkentett margó */
    left: 0; /* Visszaállítjuk a bal oldali pozíciít */
  }

  .prepare-message {
    margin-left: 5px; /* Tovább csökkentett bal margó */
  }

  .close-panel {
    right: 5px; /* Csökkentett jobb margó */
    bottom: 5px; /* Csökkentett alsó margó */
  }

  .message-window input[type="text"],
  .email-list-window input[type="text"],
  .message-window textarea {
    width: calc(100% - 10px); /* Számított szélesség a csökkentett padding figyelembevételével */
    padding: 5px;
  }

  .email-list-window {
    max-height: 120px;
  }

  .email-list-window li,
  .remove-email {
    padding: 5px;
  }

  .remove-email {
    width: 15px;
    height: 15px;
  }

  .message-window button,
  .email-list-window button {
    padding: 5px 10px;
  }

}



/* Csatolók, kéldául 425px alatti szélességűek */
@media (max-width: 425px) {
  .panel {
    width: 100%; /* Teljes szélesség használata */
    margin: 20px 0; /* Csökkentett margó */
    left: 0; /* Visszaállítjuk a bal oldali pozíciít */
  }

  .prepare-message {
    margin-left: 5px; /* Tovább csökkentett bal margó */
  }

  .close-panel {
    right: 5px; /* Csökkentett jobb margó */
    bottom: 5px; /* Csökkentett alsó margó */
  }

  .message-window input[type="text"],
  .email-list-window input[type="text"],
  .message-window textarea {
    width: calc(100% - 10px); /* Számított szélesség a csökkentett padding figyelembevételével */
    padding: 5px;
  }

  .email-list-window {
    max-height: 120px;
  }

  .email-list-window li,
  .remove-email {
    padding: 5px;
  }

  .remove-email {
    width: 15px;
    height: 15px;
  }

  .message-window button,
  .email-list-window button {
    padding: 5px 10px;
  }

}


/* Kis telefonok, kéldául 375px alatti szélességűek */
@media (max-width: 375px) {
  .panel {
    width: 300%; /* Teljes szélesség használata */
    margin: 20px 0; /* Csökkentett margó */
    left: 0; /* Visszaállítjuk a bal oldali pozíciít */
  }   

  .prepare-message {
    margin-left: 5px; /* Tovább csökkentett bal margó */
  }

  .close-panel {
    right: 5px; /* Csökkentett jobb margó */
    bottom: 5px; /* Csökkentett alsó margó */
  }

  .message-window input[type="text"],
  .email-list-window input[type="text"],
  .message-window textarea {
    width: calc(100% - 10px); /* Számított szélesség a csökkentett padding figyelembevételével */
    padding: 5px;
  }

  .email-list-window {
    max-height: 120px;
  }

  .email-list-window li,
  .remove-email {
    padding: 5px;
  }

  .remove-email {
    width: 15px;
    height: 15px;
  }

  .message-window button,
  .email-list-window button {
    padding: 5px 10px;
  }
}

/* Kis telefonok, kéldául 360px alatti szélességűek */
@media (max-width: 360px) {
  .panel {
    width: 300%; /* Teljes szélesség használata */
    margin: 20px 0; /* Csökkentett margó */
    left: 0; /* Visszaállítjuk a bal oldali pozíciít */
  }

  .prepare-message {

    margin-left: 5px; /* Tovább csökkentett bal margó */
  }

  .close-panel {
    right: 5px; /* Csökkentett jobb margó */
    bottom: 5px; /* Csökkentett alsó margó */
  }

  .message-window input[type="text"],
  .email-list-window input[type="text"],
  .message-window textarea {
    width: calc(100% - 10px); /* Számított szélesség a csökkentett padding figyelembevételével */
    padding: 5px;
  }

  .email-list-window {
    max-height: 120px;
  }

  .email-list-window li,
  .remove-email {
    padding: 5px;
  }

  .remove-email {
    width: 15px;
    height: 15px;
  }

  .message-window button,
  .email-list-window button {
    padding: 5px 10px;
  }
}


/* Nagyon kis telefonok, például 320px alatti szélességűek */
@media (max-width: 320px) {
  .panel {
    width: 300%; /* Teljes szélesség használata */
    margin: 20px 0; /* Csökkentett margó */
    left: 0; /* Visszaállítjuk a bal oldali pozíciót */
  }

  .prepare-message {
    margin-left: 5px; /* Tovább csökkentett bal margó */
  }

  .close-panel {
    right: 5px; /* Csökkentett jobb margó */
    bottom: 5px; /* Csökkentett alsó margó */
  }

  .message-window input[type="text"],
  .email-list-window input[type="text"],
  .message-window textarea {
    width: calc(100% - 10px); /* Számított szélesség a csökkentett padding figyelembevételével */
    padding: 5px; /* Csökkentett padding */
  }

  .email-list-window {
    max-height: 120px; /* Tovább csökkentett magasság */
  }

  .email-list-window li,
  .remove-email {
    padding: 5px; /* Tovább csökkentett padding */
  }

  .remove-email {
    width: 15px; /* Csökkentett szélesség */
    height: 15px; /* Csökkentett magasság */
  }

  .message-window button,
  .email-list-window button {
    padding: 5px 10px; /* Kisebb gombokhoz igazított padding */
  }
}
