.logout-icon {
  width: 15px; /* Válaszd megfelelő méretre */
  height: 15px; /* Válaszd megfelelő méretre */
  
}
.navbar {
  background-color: #000000a5;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}
.navbar-logo {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-menu li {
  margin-right: 15px;
}

.navbar-menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar-actions {
  display: flex;
  align-items: center;
}


/* Profile Menu */
.profile-menu {
  position: relative;
}

.profile-button, .login-button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px; /* Állítsd be a megfelelő padding-et */
}

.login-button {
  background-color: #007bff; /* Módosítsd a "Log in" gomb háttérszínét */
}


.dropdown-content {
  display: none;
  position: absolute;
  top: 54px;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content::before {
  content: '';
  position: absolute;
  top: -7px;
  right: 25px;
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent #f9f9f9 transparent;
}
.dropdown-content a {
  border-bottom: 1px solid #ccc; /* Szegély a menüpontok között */
}

.dropdown-content a:last-child {
  border-bottom: none; /* Utolsó menüpont alatti szegély eltávolítása */
}
.dropdown-content a, .profile-button, .login-button {
  display: block;
  padding: 10px 20px; /* Állítsd be a megfelelő padding-et */
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease; /* Áttűnés az animációhoz */
}

.dropdown-content a:hover, .profile-button:hover, .login-button:hover {
  background-color: #f0f0f0; /* Világosabb háttérszín */
  border-radius: 10px; /* Kerekített sarkok */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Enyhe árnyékolás */
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Sima áttűnés az animációhoz */
  transform: translateY(-2px); /* Egy kicsit feljebb mozog a hover hatásra */
}
.profile-button, .login-button {
  background-color: transparent; /* Átlátszó háttérszín */
  border-radius: 5px; /* Kerekített sarkok */
}

.profile-button:hover, .login-button:hover {
  color: #fff; /* Szövegszín a hover hatásra */
  transition: background-color 0.3s ease, color 0.3s ease; /* Áttűnés az animációhoz */
}

/* Show the dropdown menu on hover */
.profile-menu:hover .dropdown-content {
  display: block;
}
.profile-button img {
  border-radius: 50%;
}
.profile-button {
  border-radius: 35%;
  border-width: 20%;
}
.profile-menu {
  position: relative; /* Módosítás: relative helyett */
}

/* Médialekérdezések */

/* Nagy képernyők, pl. 4K */
@media (min-width: 2560px) {
  .navbar {
    padding: 20px;
    justify-content: space-evenly;
  }

  .navbar-menu li {
    margin-right: 30px; /* Nagyobb margó az elemek között */
    width: 50px; /* Nagyobb szélesség */
    display: flex;
    justify-content:space-around;
  }

  .profile-button, .login-button {
    padding: 15px 30px; /* Nagyobb padding */
  }
}

/* Laptopok */
@media (max-width: 1440px) {
  /* Kisebb változtatások lehetnek szükségesek, ha a design ezt megköveteli */
}

/* Tabletek */
@media (max-width: 1024px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar-right {
    margin-top: 10px;
  }
}


/* Nagyobb telefonok */
@media (max-width: 310px) {
  .navbar-menu {
    display: none; /* Menü elemek rejtése alapértelmezetten */
    flex-direction: column; /* Elemek vertikális elrendezése */
    align-items: flex-start; /* Balra igazítás */
    position: absolute; /* Abszolút pozícionálás */
    top: 70px; /* Felső margó beállítása */
    left: 0; /* Balra igazítás */
    width: 100%; /* Teljes szélesség */
    background-color: #000000a5; /* Háttérszín */
    border-radius: 0 0 10px 10px; /* Kerekítés csak az alsó sarkokon */
  }

  .navbar-menu.show {
    display: contents; /* Menü elemek megjelenítése, ha a .show osztály van rajtuk */
  }

  .navbar-menu li {
    margin-bottom: 10px; /* Elemek közötti távolság növelése */
    width: 100%; /* Teljes szélesség használata */
  }

  .navbar-actions {
    position: relative; /* Relatív pozícionálás */
  }

  .profile-menu {
    position: static; /* Alapértelmezett pozícionálás */
    margin-right: 0; /* Margó eltávolítása */
  }

  .dropdown-content {
    position: static; /* Alapértelmezett pozícionálás */
    min-width: auto; /* Alapértelmezett szélesség */
    box-shadow: none; /* Árnyékolás eltávolítása */
    border-radius: 0; /* Kerekítés eltávolítása */
    background-color: transparent; /* Átlátszó háttérszín */
    border: none; /* Keret eltávolítása */
    top: 0; /* Felső margó visszaállítása */
    right: 0; /* Jobb margó visszaállítása */
  }

  .dropdown-content::before {
    display: none; /* Előző háttérszín eltávolítása */
  }

  .navbar-right {
    flex-direction: column; /* Elemek vertikális elrendezése */
    align-items: flex-start; /* Balra igazítás */
  }

  .profile-button, .login-button {
    width: 100%; /* Teljes szélesség használata */
    margin-bottom: 10px; /* Elemek közötti távolság növelése */
  }
}
