
.navbar {
  background-color: #000000a5;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}
.navbar-logo {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-menu li {
  margin-right: 15px;
}

.navbar-menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar-actions {
  display: flex;
  align-items: center;
}

/* Search input */
.search-input {
  padding: 4px 8px; /* Increased padding */
  margin-right: 10px;
  border: 1px solid #ccc; /* Add border */
  border-radius: 5px; /* Rounded corners */
  font-size: 14px; /* Increase font size */
}

.frame {
  width: 90%;
  text-align: center;
}

.search-input:focus {
  outline: none; /* Remove outline on focus */
  border-color: #007bff; /* Change border color on focus */
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25); /* Add box shadow on focus */
}

/* Search button */
.search-button {
  background: linear-gradient(0deg, rgba(49, 18, 18, 0.577) 0%, rgb(39, 38, 38) 100%);
  color: #fffdfd;
  padding: 8px 16px; /* Adjust padding */
  cursor: pointer;
  border: none;
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.search-button:hover {
  background: linear-gradient(135deg, rgba(94, 60, 60, 0.8) 0%, rgba(71, 46, 46, 0.8) 100%);
}

/* Profile Menu */
.profile-menu {
  position: relative;
}

.profile-button, .login-button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px; /* Állítsd be a megfelelő padding-et */
}

.login-button {
  background-color: #007bff; /* Módosítsd a "Log in" gomb háttérszínét */
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 54px;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a, .profile-button, .login-button {
  display: block;
  padding: 10px 20px; /* Állítsd be a megfelelő padding-et */
  color: #333;
  text-decoration: none;
}

.dropdown-content a:hover, .profile-button:hover, .login-button:hover {
  background-color: #ddd;
  border-radius: 10px;
}

/* Show the dropdown menu on hover */
.profile-menu:hover .dropdown-content {
  display: block;
}
.profile-button img {
  border-radius: 50%;
}
.profile-button {
  border-radius: 35%;
  border-width: 20%;
}
.profile-menu {
  position: relative; /* Módosítás: relative helyett */
}

@media (min-width: 2560px) {
  /* Stílusok a nagy felbontású kijelzőkhöz */
  .navbar {
    padding: 20px 40px; /* Nagyobb padding a tágasabb elrendezéshez */
  }

  .navbar-logo {
    font-size: 2em; /* Nagyobb logó a jobb láthatóság érdekében */
  }

  .navbar-menu li {
    margin-right: 30px; /* Nagyobb térköz az elemek között */
  }

  .navbar-menu a, .profile-button, .login-button {
    font-size: 1.8em; /* Nagyobb betűméret a könnyebb olvashatóságért */
    padding: 15px 30px; /* Nagyobb padding a jobb tapinthatóság érdekében */
  }
}

@media (max-width: 1440px) {
  /* Stílusok a laptop méretű képernyőkhöz */
  .navbar {
    padding: 15px 30px; /* Kis méretű padding a kompaktabb elrendezéshez */
  }

  .navbar-logo {
    font-size: 1.8em; /* Kis méretű logó */
  }

  .navbar-menu li {
    margin-right: 20px; /* Kis méretű térköz az elemek között */
  }

  .navbar-menu a, .profile-button, .login-button {
    font-size: 1.5em; /* Kis méretű betűméret a helymegtakarítás érdekében */
    padding: 10px 15px; /* Kis méretű padding */
  }
}

@media (max-width: 1024px) {
  /* Stílusok a tablet többképernyőkhöz */
  .navbar {
    padding: 15px 20px; /* Kisebb padding a kompaktabb elrendezéshez */
  }

}


@media (min-width: 2560px) {
  /* Stílusok a nagy felbontású kijelzőkhöz */
  .navbar {
    padding: 20px 40px; /* Nagyobb padding a tágasabb elrendezéshez */
  }

  .navbar-logo {
    font-size: 2em; /* Nagyobb logó a jobb láthatóság érdekében */
  }

  .navbar-menu li {
    margin-right: 30px; /* Nagyobb térköz az elemek között */
  }

  .navbar-menu a, .profile-button, .login-button {
    font-size: 1.8em; /* Nagyobb betűméret a könnyebb olvashatóságért */
    padding: 15px 30px; /* Nagyobb padding a jobb tapinthatóság érdekében */
  }
}

@media (max-width: 1440px) {
  /* Stílusok a laptop méretű képernyőkhöz */
  .navbar {
    padding: 15px 30px; /* Kis méretű padding a kompaktabb elrendezéshez */
  }

  .navbar-logo {
    font-size: 1.8em; /* Kis méretű logó */
  }

  .navbar-menu li {
    margin-right: 20px; /* Kis méretű térköz az elemek között */
  }

  .navbar-menu a, .profile-button, .login-button {
    font-size: auto; /* Kis méretű betűméret a helymegtakarítás érdekében */
    padding: 20px 20px; /* Kis méretű padding */
  }
}
@media (max-width: 425px) {
  .navbar-menu, .navbar-right {
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap; 
  }

  .navbar-menu li {
    margin-right: 15px; /* Kis térköz */
  }

  .navbar-menu a, .profile-button, .login-button {
    font-size: 0.8em; /* Tovább csökkentett betűméret */
    padding: 6px 12px; /* Kis padding a helymegtakarítás érdekében */
  }

  .search-input, .search-button {
    padding: 2px 6px; /* Még kisebb padding */
    font-size: 0.8em; /* Tovább csökkentett betűméret */
    border-radius: 5px;
  }

  .navbar-logo {
    font-size: 1.2em; /* Kis méretű logó */
  }
}
