/* Általános stílusok */
.mail-icon {
  width: 20px;
  height: 20px;
  float: right; /* A kép jobbra igazítása */
  margin-left: 10px; /* Távolság hozzáadása a gomb szövege és a kép között */
}

.facebook-profile{
  font-family: 'Helvetica Neue', Arial, sans-serif;
  max-width: 500px;
  margin: 20px auto;
  border: none;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2), 0 6px 10px rgba(0, 0, 0, 0.15);
  position: relative;
  top: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Sima áttűnés az animációhoz */
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #f0f2f5;
  padding: 10px;
  border-radius: 20px;
  position: relative; /* Abszolút pozíció miatt szükséges */
}
.profile-header:hover {
  background-color: #e6e6e6; /* Sötétebb háttérszín hover állapotban */
}
.profile-header::after {
  content: ''; /* Pszeudo elem */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #ddd; /* Vonal színe és vastagsága */
  border-radius: 20px; /* Azonos kerekítés, mint a háttérrel */
  box-sizing: border-box;
}

.profile-header img.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #007bff;
}

.toggleLoan-button {
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 10px; /* Csökkentett lekerekítés */
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  margin-top: 5px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Átmenet a háttér- és szövegszín megváltoztatásához */
}

.toggleLoan-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: width 0.3s ease-out, height 0.3s ease-out, top 0.3s ease-out, left 0.3s ease-out;
  z-index: 0;
  transform: translate(-50%, -50%);
}

.toggleLoan-button:hover::after {
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
}

.toggleLoan-button:hover {
  color: #f7f7f7;
  background-color: #07b8e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Árnyék a hover eseményre */
}

.profile-info, .social-links {
  margin-top: 20px;
}

.profile-info h3, .social-links h3 {
  color: #007bff;
}

/* Szövegformázás */
.profile-info p, .social-links p {
  color: #333;
  line-height: 1.5;
}

/* Link formázása */
.social-links a {
  color: #007bff;
  text-decoration: none;
}

.social-links a:hover {
  text-decoration: underline;
}

.role-selector-modal {
  position: fixed;
  top: 40%;
  left: 22%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border-radius: 8px;
}

.role-selector-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.644);
  z-index: 10;
}

/* Felbontásokhoz igazítás */

/* Nagy felbontású kijelzők */
@media (min-width: 2560px) {
  .facebook-profile {
    max-width: 500px; /* Nagyobb szélesség */
    padding: 30px; /* Nagyobb padding */
    margin-left: 500px;
  }

  .profile-header img.profile-picture {
    width: 200px;
    height: 200px; /* Nagyobb profil kép */
  }

  .toggleLoan-button {
    top: 15px;
    right: 4px;
    padding: 15px 20px; /* Nagyobb gomb */
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  /* Közepes nagyságú kijelzők, például laptopok */
  .facebook-profile {
    max-width: 450px; /* Kisebb maximális szélesség */
    padding: 25px; /* Kisebb padding */
    margin-left: 85px;
  }

  .profile-header img.profile-picture {
    width: 120px;
    height: 120px; /* Kisebb profil kép */
  }

  .toggleLoan-button {
    padding: 12px 20px; /* Gomb méretének változtatása */
  }
}

/* Telefonok */
@media (max-width: 768px) {
  .facebook-profile {
    max-width: 90%; /* Szélesség százalékban */
    margin-right: 10px;
    padding: 15px;
  }

  .profile-header img.profile-picture {
    width: 80px;
    height: 80px; /* Kisebb profil kép */
  }

  .toggleLoan-button {
    padding: 8px 20px; /* Gomb méretének változtatása */
  }
}




/* Telefonok */
@media (max-width: 425px) {
  .facebook-profile {
    flex-direction: column;
    padding: 10px;
    margin-right: 40px;
    text-justify: auto;

  }

  .profile-header img.profile-picture {
    width: 70px;
    height: 70px; /* Kisebb profil kép */
  }

  .toggleLoan-button {
    padding: 8px 15px; /* Gomb méretének változtatása */
  }
}



/* Nagyon kis telefonok */
@media (max-width: 320px) {
  .facebook-profile {
    padding: 10px;
    width: 100%;
    margin-left: 15px;
  }

  .profile-header img.profile-picture {
    width: 60px;
    height: 60px; /* Még kisebb profil kép */
  }

  .toggleLoan-button {
    padding: 8px 15px; /* Gomb méretének változtatása */
  }
}

